<!-- <table class="table table-bordered table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{"PROJECT.NAME" | translate}}</th>
      <th scope="col">{{"PROJECT.TYPE" | translate}}</th>
      <th scope="col">{{"PROJECT.WEB_FRAMEWORK" | translate}}</th>
      <th scope="col">{{"PROJECT.DATABASE" | translate}}</th>
      <th scope="col">{{"PROJECT.LIBRARY" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table> -->

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{'PROJECT.NOT_AVAILABLE' | translate}}</h1>
  </div>
</div>
