<table class="table table-bordered table-primary">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">{{"PROJECT.NAME" | translate}}</th>
      <th scope="col">{{"PROJECT.TYPE" | translate}}</th>
      <th scope="col">{{"PROJECT.WEB_FRAMEWORK" | translate}}</th>
      <th scope="col">{{"PROJECT.DATABASE" | translate}}</th>
      <th scope="col">{{"PROJECT.LIBRARY" | translate}}</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row"></th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
  </tbody>
</table>
