<div class="nav nav-pills nav-fill text-dark bg-light">
  <ul class="nav">
    <li class="nav-item">
    <a [class]="currentlySelected ==='about' ? classSelected : classNotSelected" (click)="onSelect('about')">{{ 'TABS.ABOUT'| translate }}</a>
    </li>
    <li class="nav-item">
      <a [class]="currentlySelected ==='cv' ? classSelected : classNotSelected" (click)="onSelect('cv')">{{ 'TABS.CV'| translate }}</a>
    </li>
    <li class="nav-item">
      <a [class]="currentlySelected ==='experience' ? classSelected : classNotSelected" (click)="onSelect('experience')">{{ 'TABS.EXPERIENCE'| translate }}</a>
    </li>
    <li class="nav-item">
      <a [class]="currentlySelected ==='portfolio' ? classSelected : classNotSelected" (click)="onSelect('portfolio')">{{ 'TABS.PORTFOLIO'| translate }}</a>
    </li>
    <li class="nav-item">
      <a [class]="currentlySelected ==='skills' ? classSelected : classNotSelected" (click)="onSelect('skills')">{{ 'TABS.SKILLS'| translate }}</a>
    </li>
  </ul>
</div>
<p>{{selectedText | translate}}</p>



