<div class="nav nav-pills nav-fill text-dark bg-light">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link bg-primary" >
        About Me
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >My CV Page</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" >My Work Experience</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">My Portfolio</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">My Skills</a>
    </li>
  </ul>
</div>

