.background {
  background-color: red;
  height: 20rem;
}

// .classSelected:hover {
//   color:red;
// }

.tabs {
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.nav-item :hover {
  color: white !important;
  background-color:		#0275d8 !important;
  border-radius: 7% !important;
  cursor: pointer !important;
}
