<div class="container">
  <div class="row">
    <div class="col">
      <h4>{{ "EXPERIENCE.DEVELOPER" | translate}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6>{{ "EXPERIENCE.RSC" | translate}} </h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6> {{ "EXPERIENCE.APRIL" | translate}} 2018 - {{ "EXPERIENCE.NOW" | translate}}</h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 text-center">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top mt-1" style="width: 8rem;height: 8rem;" [src]="imgStork" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">Stork Express</h6>
                <p class="card-text text-success">{{ "EXPERIENCE.AVAILABLE" | translate | uppercase}}</p>
                <a href="https://play.google.com/store/apps/details?id=com.stork.send_deliver" target="_blank" class="btn btn-primary">{{"EXPERIENCE.TO_STORE"|translate}} <i class="fa fa-location-arrow" aria-hidden="true"></i></a>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            Stork Express
            <ul>
              <li> {{ "EXPERIENCE.VERSION" | translate}} 1.0</li>
              <li> {{ "EXPERIENCE.FRAMEWORK" | translate}}: Ionic 3.1,Angular 4.4</li>
              <li> {{ "EXPERIENCE.LANGUAGE" | translate}}: Typescript/Javascript</li>
              <li> {{ "EXPERIENCE.DATABASE" | translate}}: Node.js(Javascript), Firebase</li>
            </ul>
            <ul>
              <li> {{ "EXPERIENCE.VERSION" | translate}} 2.0</li>
              <li> {{ "EXPERIENCE.FRAMEWORK" | translate}}: Ionic 4.1,Angular 7.3</li>
              <li> {{ "EXPERIENCE.LANGUAGE" | translate}}: Typescript/Javascript, PHP</li>
              <li> {{ "EXPERIENCE.DATABASE" | translate}}: Node.js(Javascript), Firebase</li>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 text-center">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top mt-1" style="width: 8rem;height: 8rem;" [src]="imgParvomay" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">Parvomay</h6>
                <p class="card-text text-danger">{{ "EXPERIENCE.PRIVATE" | translate | uppercase}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            Parvomay
            <ul>
              <li> {{ "EXPERIENCE.VERSION" | translate}} 1.0</li>
              <li> {{ "EXPERIENCE.FRAMEWORK" | translate}}: Ionic 3.9,Angular 5.2</li>
              <li> {{ "EXPERIENCE.LANGUAGE" | translate}}: Typescript/Javascript, PHP</li>
              <li> {{ "EXPERIENCE.DATABASE" | translate}}: MySQL(PHP)</li>
            </ul>
            <ul>
              <li> {{ "EXPERIENCE.ADMIN_PANEL" | translate}}</li>
              <li> {{ "EXPERIENCE.FRAMEWORK" | translate}}: -</li>
              <li> {{ "EXPERIENCE.LANGUAGE" | translate}}: Javascript, PHP</li>
              <li> {{ "EXPERIENCE.DATABASE" | translate}}: MySQL(PHP)</li>
            </ul>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-4 col-sm-12 text-center">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top mt-1" style="width: 8rem;height: 8rem;" [src]="imgMuseum" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">The Museum</h6>
                <p class="card-text text-warning">{{ "EXPERIENCE.TBD" | translate  | uppercase}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            The Museum
            <ul>
              <li> {{ "EXPERIENCE.VERSION" | translate}} 1.0</li>
              <li> {{ "EXPERIENCE.FRAMEWORK" | translate}}: Ionic 5.2,Angular 8.1</li>
              <li> {{ "EXPERIENCE.LANGUAGE" | translate}}: Typescript/Javascript</li>
              <li> {{ "EXPERIENCE.DATABASE" | translate}}: Django(Python)</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <h4>QlikView {{ "EXPERIENCE.SUPPORT" | translate}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6> {{ "EXPERIENCE.BEYE" | translate}}</h6>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h6> {{ "EXPERIENCE.OCTOBER" | translate}} 2015 - {{ "EXPERIENCE.APRIL" | translate}} 2018</h6>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col">
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-12 text-center">
            <div class="card" style="width: 12rem;">
              <img class="card-img-top mt-1" style="width: 8rem;height: 8rem;" [src]="imgQlik" alt="Card image cap">
              <div class="card-body">
                <h6 class="card-title">QlikView</h6>
              </div>
            </div>
          </div>
          <div class="col-md-8 col-sm-12">
            {{ "EXPERIENCE.RESPONSIBILITIES" | translate}}:
            <ul>
              <li>{{ "EXPERIENCE.RES1" | translate}}</li>
              <li> {{ "EXPERIENCE.RES2" | translate}}</li>
              <li> {{ "EXPERIENCE.RES3" | translate}}</li>
              <li> {{ "EXPERIENCE.RES4" | translate}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
