<div class="container">
  <div class="row">
    <div class="col">
      <h3> {{"EDUCATION.MASTERS_DEGREE" | translate}}</h3>
      <h4 class="ml-3">{{"EDUCATION.MASTERS_UNI" | translate}}</h4>
      <h5 class="ml-3">2015-2018</h5>
      <div class="ml-4">{{"EDUCATION.SUBJECTS" | translate}}:
        <ul>
          <li>{{"EDUCATION.MASTERS_SUBJECT1" | translate}}</li>
          <li>{{"EDUCATION.MASTERS_SUBJECT2" | translate}}</li>
          <li>{{"EDUCATION.MASTERS_SUBJECT3" | translate}}</li>
          <li>{{"EDUCATION.MASTERS_SUBJECT4" | translate}}</li>
          <li>{{"EDUCATION.MASTERS_SUBJECT5" | translate}}</li>
          <li>{{"EDUCATION.MASTERS_SUBJECT6" | translate}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h3> {{"EDUCATION.BACHELORS_NAME" | translate}}</h3>
      <h4 class="ml-3"> {{"EDUCATION.BACHELORS_UNI" | translate}}</h4>
      <h5 class="ml-3">2011-2015</h5>
      <div class="ml-4">{{"EDUCATION.SUBJECTS" | translate}}:
        <ul>
          <li>{{"EDUCATION.BACHELORS_SUBJECT1" | translate}}</li>
          <li>{{"EDUCATION.BACHELORS_SUBJECT2" | translate}}</li>
          <li>{{"EDUCATION.BACHELORS_SUBJECT3" | translate}}</li>
          <li>{{"EDUCATION.BACHELORS_SUBJECT3" | translate}}</li>
          <li>{{"EDUCATION.BACHELORS_SUBJECT4" | translate}}</li>
          <li>{{"EDUCATION.BACHELORS_SUBJECT5" | translate}}</li>
        </ul>
      </div>
    </div>
  </div>
</div>
