.text-primary {
  color: red !important;
}

.nav-item :hover {
  color: white;
  background-color: grey;
  border-radius: 7%;
  cursor: pointer;
}

.navbar-expand-sm {
  color: red !important;
}

// .icon-twitter :hover {
//   color:#00acee !important;
// }

// .icon-linkedin :hover {
//   color: #2867B2 !important;
// }

// .icon-facebook :hover {
//   color: #4267B2 !important;
// }
