.text-primary {
  color: red !important;
}

.nav-item :hover {
  color: white;
  background-color: grey;
  border-radius: 7%;
  cursor: pointer;
}

.navbar-expand-sm {
  color: red !important;
}

// .icon-twitter :hover {
//   color:#00acee !important;
// }

// .icon-linkedin :hover {
//   color: #2867B2 !important;
// }

// .icon-facebook :hover {
//   color: #4267B2 !important;
// }

.spacer2 {
  height: 60px;
display: block;
}

#about {
  height: 100%;
  background: url("https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/2945316/910/606/m2/fpnw/wm1/glyxgy4ln3zucsl2ovpwlh9qgmycpxwrrnxaambwqxccmy6on3yvzndswcuoyuiz-.jpg?1499528529&s=bbf8ef3630ea35515cfab04826f2a449") no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
