.text-primary {
  color: red !important;
}

.nav-item :hover {
  color: white;
  // background-color: grey;
  border-radius: 7%;
  cursor: pointer;
}

.navbar-expand-sm {
  color: red !important;
}


// .icon-twitter :hover {
//   color:#00acee !important;
// }

// .icon-linkedin :hover {
//   color: #2867B2 !important;
// }

// .icon-facebook :hover {
//   color: #4267B2 !important;
// }

.spacer2 {
  height: 60px;
display: block;
}

#about {
  height: 100%;
  background: url("https://images.pexels.com/photos/699122/pexels-photo-699122.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
